@import "variables";

.blog {
    position: relative;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-header;
    font-size: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__wrapper {
        height: 100%;
        width: 100%;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            text-align: center;
            width: 60%;

            &__text {
                font-size: 1.75em;
            }
        }
    }
}