@import "variables";

.blog {
    position: relative;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-header;
    font-size: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: scroll;

    &__wrapper {
        height: 100%;
        width: 100%;
        margin-top: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        &__header {
            text-align: center;
            width: 50%;
            margin-bottom: 10vh;

            &__text {
                font-size: 1.65em;
            }
        }

        &__posts {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $color-white;
            border-top: none;
            border-bottom: none;

            &__post {
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 10vh;

                &__image {
                    border: 4px solid $color-white;
                    width: 320px;
                    height: 320px;
                    margin-top: 15px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 40%;

                    &__date {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0.2em;
                        &__text {
                            font-size: 0.5em;
                        }

                        &__divider {
                            width: 30%;
                            height: 10%;
                            background-color: $color-white;
                        }
                    }

                    &__title {
                        font-size: 0.72em;
                        margin-bottom: 0.4em;
                    }

                    &__details {
                        width: 80%;
                        font-size: 0.45em;
                        line-height: 1.25em;
                    }
                }
            }
        }

        &__scroll-up {
            position: fixed;
            left: 80vw;
            top: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: opacity .5s ease-in;
            visibility: hidden;
            opacity: 0;

            &__text {
                font-size: 0.3em;
                font-weight: lighter;
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 1200px) {
     .blog {
         font-size: 35px;

         &__wrapper {
             margin-top: 8vh;
             margin-bottom: 5vh;

             &__header {
                 margin-bottom: 4em;
             }

             &__posts {
                 &__post {
                     &__image {
                         width: 230px;
                         height: 230px;
                    }

                    &:nth-last-child(1) {
                        padding-bottom: 8vh;
                    }
                 }
             }
         }
     }
}

@media (max-width: 800px) {
    .blog {
        &__wrapper {
            &__posts {
                width: 90%;

                &__post {
                    flex-direction: column-reverse;
                    align-items: center;
                    margin-bottom: 2em;

                    &__image {
                        margin-top: 1em;
                    }

                    &__content {
                        width: 80%;

                        &__date {
                            &__divider {
                                width: 35%;
                            }
                        }
                    }
                }
            }
        }
    }
}