@import "variables";

.home {
    position: relative;
    background-color: $color-black;
    color: $color-white;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86%;

        &__content {
            width: 50%;
        }

        &__side {
            width: 40%;

            &__image {
                img {
                    width: 420px;
                    height: 420px;
                }
            }
        }

        &__socialmedia {
            width: 10%;
        }

    }

    &__banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 7%;

        img {
            height: 87px;
            transform: rotate(90deg);
        }
    }

    &__banner:nth-child(1) {
        transform: scale(-1, -1) translateY(15px);
    }

}