@import "variables";

.login {
    position: relative;
    background-color: $color-black;
    color: $color-white;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 90%;
        height: 87vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10vh;
        margin-top: 8vh;
        background: url("../assets/home-border.png") no-repeat left bottom;
        background-size: contain;
        opacity: 0;

        &__header {
            font-size: 1.75em;
            height: 20%;
            width: 100%;
            text-align: center;
            z-index: 1;
            opacity: 0;
            transform: translateY(30px);
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 25%;
            font-size: 1.2em;

            &__name {
                font-size: 0.8em;
                margin-bottom: .1em;
                opacity: 0;
                transform: translateY(30px);
            }

            &__input {
                width: 100%;
                font-size: 0.4em;
                margin-bottom: 1em;
                padding-left: .3em;
                height: 2em;
                opacity: 0;
                transform: translateY(30px);
            }

            &__submit {
                align-self: center;
                font-size: 0.55em;
                font-family: $font-header;
                background-color: $color-dark-gray;
                color: $color-white;
                border: 2px solid $color-white;
                padding: .1em 1.3em .1em 1.3em;
                margin-top: .5em;
                transition: .2s background-color ease-in-out, .2s color ease-in-out;
                opacity: 0;
                transform: translateY(30px);

                &:hover {
                    border: 2px solid $color-black;
                    background-color: $color-white;
                    color: $color-black;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .login {
        font-size: 45px;

        &__wrapper {
            margin-top: 0;
            padding-top: 0;
            background-position: left;
        }
    }
}

@media (max-width: 800px) {
    .login {
        font-size: 40px;

        &__wrapper {

            &__header {
                margin-bottom: .5em;
            }

            &__form {
                width: 50%;
            }
        }
    }
}

@media (max-width: 500px) {
    .login {
        &__wrapper {
            background: none;

            &__header {
                font-size: 1.4em;
            }

            &__form {
                width: 70%;
                margin-top: .5em;
            }
        }
    }
}