@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}

html, body {
    overflow: hidden;
    background-color: $color-black;
    color: $color-white;
}

ul {
    list-style: none;
}

a, a:hover, a:visited {
    color: inherit;
    background-color: none;
    border: none;
    outline: none;
    text-decoration: none;
}


.btn {
    width: 210px;
    border: 1px solid $color-white;
    background-color: rgba(36,36,36,0.5);
    color: $color-white;
    font-size: 40px;
    font-family: $font-header;
    padding: 10px 0 10px 0;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn:hover {
    background-color: $color-white;
    color: $color-black;
}

button, button:focus, button:active {
    outline: none;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 8%;

    img {
        height: 87px;
        transform: rotate(90deg);
    }
}

.banner:nth-child(1) {
    transform: scale(-1, -1) translateY(15px);
}

@media (max-width: 800px) {
    .cursor {
        display: none;
    }
}

@media (max-width: 600px) {
    .btn {
        font-size: 30px;
        width: 190px;
    }
}

@media (max-width: 450px) {
    .btn {
        font-size: 25px;
        width: 160px;
    }
}

@media (max-width: 500px) {
    .banner {
        img {
            height: 70px;
        }
    }
}

@media (max-width: 400px) and (height: 812px) {
    .banner {
        img {
            height: 55px;
        }
    }
}