@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}

html, body {
    overflow: hidden;
    background-color: $color-black;
    color: $color-white;
}