@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow: hidden;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-header;
}

ul {
    list-style: none;
}

a, a:hover, a:visited {
    color: inherit;
    background-color: none;
    border: none;
    outline: none;
    text-decoration: none;
}

input, input:focus, input:hover {
    border: none;
    outline: none;
}

.btn {
    width: 210px;
    border: 1px solid $color-white;
    background-color: rgba(36,36,36,0.5);
    color: $color-white;
    font-size: 40px;
    font-family: $font-header;
    padding: 10px 0 10px 0;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn:hover {
    background-color: $color-white;
    color: $color-black;
}

button, button:focus, button:active {
    outline: none;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 8%;

    img {
        height: 87px;
        transform: rotate(90deg);
    }
}

textarea, textarea:hover, textarea:focus {
    outline: none;
}

.banner:nth-child(1) {
    transform: scale(-1, -1) translateY(15px);
}

.background-square {
    width: 60px;
    height: 90px;
    background-color: $color-dark-gray;
    position: absolute;
    animation: squareMove 3.5s reverse infinite;

    &--blog {
        top: 25vh;
        left: 55vw;
    }
}

.background-triangle {
    width: 250px;
    height: 250px;
    background-color: $color-dark-gray;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(45deg);
    animation: triangleMove 3s reverse infinite;

    &--home {
        top: 12vh;
        left: 15vw;
    }

    &--blog {
        top: 6vh;
        left: 30vw;
    }

    &--login {
        top: 10vh;
        left: 30vw;
    }
}

.input-text {
    background-color: $color-dark-gray;
    border: 2px solid $color-white;
    color: $color-white;

    &:hover, &:focus {
        border: 2px solid $color-white;
    }
}

.input-submit {
    font-family: $font-header;
    background-color: $color-dark-gray;
    color: $color-white;
    border: 2px solid $color-white;
    transition: .2s background-color ease-in-out, .2s color ease-in-out;

    &:hover {
        border: 2px solid $color-black;
        background-color: $color-white;
        color: $color-black;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 10vh;
    margin-top: 5vh;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: $color-white transparent $color-white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes squareMove {
    0% {
        left: 55vw;
    }
    50% {
        left: 65vw;
    }
    100% {
        left: 55vw;
    }
}

@keyframes triangleMove {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@media (max-width: 1200px) {
    .background-square {
        display: none;
    }

    .background-triangle {
        &--blog {
            width: 200px;
            height: 200px;
        }
    }
}

@media (max-width: 800px) {
    .cursor {
        display: none;
    }

    .background-triangle {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 600px) {
    .btn {
        font-size: 30px;
        width: 190px;
    }
}

@media (max-width: 450px) {
    .btn {
        font-size: 25px;
        width: 160px;
    }
}

@media (max-width: 500px) {
    .banner {
        img {
            height: 70px;
        }
    }
}

@media (max-width: 400px) and (height: 812px) {
    .banner {
        img {
            height: 55px;
        }
    }
}