@import "variables";

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 0 8em 0 8em;

    &__list {
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 1em;
    }
}

@media (max-width: 1600px) {
    .navbar {
        padding: 0 6em 0 6em;
    }
}

@media (max-width: 1000px) {
    .navbar {
        padding: 0 4em 0 4em;
    }
}

@media (max-width: 700px) {
    .navbar {
        font-size: 20px;
        padding: 0;
        justify-content: space-evenly;

        &__logo {
            transform: scale(0.75);
        }
    }
}