@import "variables";

.post {
    position: relative;
    background-color: $color-black;
    color: $color-white;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 90%;
        height: 87vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3vh;
        margin-top: 8vh;
        background: url("../assets/home-border.png") no-repeat left bottom;
        background-size: contain;
        //opacity: 0;

        &__header {
            font-size: 1.75em;
            height: 20%;
            width: 100%;
            text-align: center;
            z-index: 1;
            //opacity: 0;
            transform: translateY(30px);
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 25%;
            font-size: 1.1em;

            &__name {
                font-size: .9em;
                margin-bottom: .1em;
                //opacity: 0;
                //transform: translateY(30px);
            }
        }
    }
}